templates/nifi_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>0b2afcbd-0193-1000-2d23-2cf6c6e74478</groupId>
    <name>nifi_template</name>
    <snippet>
        <connections>
            <id>815a4587-ebaf-31fc-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>9df3d915-b3c0-3afd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>b480ad4f-98d2-3dfd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>aceaf23f-73f0-3bb7-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>b40e74c3-a001-35bf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>c9f37ff6-3d42-3f41-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b5091e3d-e22a-3e16-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>b480ad4f-98d2-3dfd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>b40e74c3-a001-35bf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d88a8c7a-4f73-3262-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>c9f37ff6-3d42-3f41-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>splits</selectedRelationships>
            <source>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>5cf1f46e-8da5-38c5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ef6a8af0-e710-32b4-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>5cf1f46e-8da5-38c5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>fbc387bb-6905-3e4e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fda56020-e2e0-346b-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>3cd0f1b4-bb6c-3f2e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>0762d9ba-2d60-320d-0000-000000000000</groupId>
                <id>9df3d915-b3c0-3afd-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>3cd0f1b4-bb6c-3f2e-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>640.0</x>
                <y>704.0</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                        <value>
                            <name>Kerberos Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Append Mode</key>
                        <value>
                            <dependencies>
<dependentValues>append</dependentValues>
<propertyName>Conflict Resolution Strategy</propertyName>
                            </dependencies>
                            <name>Append Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>writing-strategy</key>
                        <value>
                            <name>writing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>
                            <name>Ignore Locality</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/home/ec2-user/hadoop-config/hdfs-site.xml, /home/ec2-user/hadoop-config/core-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>user/nifi</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Append Mode</key>
                        <value>DEFAULT</value>
                    </entry>
                    <entry>
                        <key>writing-strategy</key>
                        <value>writeAndRename</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>5cf1f46e-8da5-38c5-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>640.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Line Split Count</key>
                        <value>
                            <name>Line Split Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Fragment Size</key>
                        <value>
                            <name>Maximum Fragment Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header Line Count</key>
                        <value>
                            <name>Header Line Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header Line Marker Characters</key>
                        <value>
                            <name>Header Line Marker Characters</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remove Trailing Newlines</key>
                        <value>
                            <name>Remove Trailing Newlines</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Line Split Count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Maximum Fragment Size</key>
                    </entry>
                    <entry>
                        <key>Header Line Count</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Header Line Marker Characters</key>
                    </entry>
                    <entry>
                        <key>Remove Trailing Newlines</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
            <id>9df3d915-b3c0-3afd-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>640.0</x>
                <y>472.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>${uuid}.json</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>b40e74c3-a001-35bf-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>240.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JSON Handling Strategy</key>
                        <value>
                            <name>JSON Handling Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Print</key>
                        <value>
                            <dependencies>
<dependentValues>flowfile-content</dependentValues>
<propertyName>Destination</propertyName>
                            </dependencies>
                            <name>Pretty Print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Attributes List</key>
                        <value>IP, Timestamp, HTTP_method, URL, protocol, status_code, sent, user-agent</value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>JSON Handling Strategy</key>
                        <value>NESTED</value>
                    </entry>
                    <entry>
                        <key>Pretty Print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>b480ad4f-98d2-3dfd-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>472.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>
                            <name>Merge Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Correlation Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Avro</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>mergecontent-metadata-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Minimum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                        <value>
                            <dependencies>
<dependentValues>Bin-Packing Algorithm</dependentValues>
<propertyName>Merge Strategy</propertyName>
                            </dependencies>
                            <name>Maximum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>
                            <name>Max Bin Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>
                            <name>Maximum number of Bins</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Delimiter Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Header File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Footer File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
                            <dependencies>
<dependentValues>Filename</dependentValues>
<dependentValues>Text</dependentValues>
<propertyName>Delimiter Strategy</propertyName>
                            </dependencies>
                            <dependencies>
<dependentValues>Binary Concatenation</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Demarcator File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>
                            <dependencies>
<dependentValues>ZIP</dependentValues>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Keep Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>
                            <dependencies>
<dependentValues>TAR</dependentValues>
<propertyName>Merge Format</propertyName>
                            </dependencies>
                            <name>Tar Modified Time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>Binary Concatenation</value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>Do Not Merge Uncommon Metadata</value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>[</value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>]</value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>${file.lastModifiedTime}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
            <id>c9f37ff6-3d42-3f41-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>640.0</x>
                <y>240.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>
                            <name>extract-text-enable-named-groups</name>
                        </value>
                    </entry>
                    <entry>
                        <key>HTTP_method</key>
                        <value>
                            <name>HTTP_method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IP</key>
                        <value>
                            <name>IP</name>
                        </value>
                    </entry>
                    <entry>
                        <key>protocol</key>
                        <value>
                            <name>protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sent</key>
                        <value>
                            <name>sent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>status_code</key>
                        <value>
                            <name>status_code</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Timestamp</key>
                        <value>
                            <name>Timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user-agent</key>
                        <value>
                            <name>user-agent</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-named-groups</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>HTTP_method</key>
                        <value>"(\S+) \S+ \S+"</value>
                    </entry>
                    <entry>
                        <key>IP</key>
                        <value>([0-9]+(\.[0-9]+)+)</value>
                    </entry>
                    <entry>
                        <key>protocol</key>
                        <value>"\S+ \S+ (\S+)"</value>
                    </entry>
                    <entry>
                        <key>sent</key>
                        <value>\d+ (\d+)</value>
                    </entry>
                    <entry>
                        <key>status_code</key>
                        <value>(\d+) \d+</value>
                    </entry>
                    <entry>
                        <key>Timestamp</key>
                        <value>- - \[([^\]]+)\]</value>
                    </entry>
                    <entry>
                        <key>URL</key>
                        <value>"\S+ (\S+) \S+"</value>
                    </entry>
                    <entry>
                        <key>user-agent</key>
                        <value>\"([^\"]+)\"$</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>fbc387bb-6905-3e4e-0000-000000000000</id>
            <parentGroupId>0762d9ba-2d60-320d-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>tail-mode</key>
                        <value>
                            <name>tail-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File to Tail</key>
                        <value>
                            <name>File to Tail</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Rolling Filename Pattern</key>
                        <value>
                            <name>Rolling Filename Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Post-Rollover Tail Period</key>
                        <value>
                            <name>Post-Rollover Tail Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tail-base-directory</key>
                        <value>
                            <name>tail-base-directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Initial Start Position</key>
                        <value>
                            <name>Initial Start Position</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Location</key>
                        <value>
                            <name>File Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tailfile-recursive-lookup</key>
                        <value>
                            <name>tailfile-recursive-lookup</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tailfile-lookup-frequency</key>
                        <value>
                            <name>tailfile-lookup-frequency</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tailfile-maximum-age</key>
                        <value>
                            <name>tailfile-maximum-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>reread-on-nul</key>
                        <value>
                            <name>reread-on-nul</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line Start Pattern</key>
                        <value>
                            <dependencies>
<dependentValues>Single file</dependentValues>
<propertyName>tail-mode</propertyName>
                            </dependencies>
                            <name>Line Start Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>pre-allocated-buffer-size</key>
                        <value>
                            <name>pre-allocated-buffer-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Buffer Size</key>
                        <value>
                            <dependencies>
<propertyName>Line Start Pattern</propertyName>
                            </dependencies>
                            <name>Max Buffer Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>tail-mode</key>
                        <value>Single file</value>
                    </entry>
                    <entry>
                        <key>File to Tail</key>
                        <value>/home/ec2-user/log/nginx.log</value>
                    </entry>
                    <entry>
                        <key>Rolling Filename Pattern</key>
                    </entry>
                    <entry>
                        <key>Post-Rollover Tail Period</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>tail-base-directory</key>
                    </entry>
                    <entry>
                        <key>Initial Start Position</key>
                        <value>Beginning of File</value>
                    </entry>
                    <entry>
                        <key>File Location</key>
                        <value>Local</value>
                    </entry>
                    <entry>
                        <key>tailfile-recursive-lookup</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>tailfile-lookup-frequency</key>
                        <value>10 minutes</value>
                    </entry>
                    <entry>
                        <key>tailfile-maximum-age</key>
                        <value>24 hours</value>
                    </entry>
                    <entry>
                        <key>reread-on-nul</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Line Start Pattern</key>
                    </entry>
                    <entry>
                        <key>pre-allocated-buffer-size</key>
                        <value>65536 B</value>
                    </entry>
                    <entry>
                        <key>Max Buffer Size</key>
                        <value>64 KB</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>TailFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.TailFile</type>
        </processors>
    </snippet>
    <timestamp>11/11/2024 13:02:16 CET</timestamp>
</template>
